name: my_print
description: A Package will helps you to use DEBUG PRINT in a good Manner.
version: 0.1.0
homepage: https://github.com/FluXpert/my_print.git
# dart pub publish
environment:
  sdk: '>=2.18.6 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter: